:host {
  margin-top: 10px;
  display: block;
}

.user-item {
  display: flex;
  justify-content: space-between;
  padding: 15px;

  &:nth-child(odd) {
    background-color: #eee;
  }

  &:hover .actions {
    opacity: 1;
  }
}

.same-width {
  min-width: 300px;
}

.actions {
  display: flex;
  align-items: center;
  margin-left: 15px;
  opacity: 0;
  transition: .3s opacity;
}
