<div class="container vertical-center">
  <div class="nav-wrapper">
    <a class="app-logo" [href]="linkToPortal">
      <lt-svg-icon [name]="'logo'"></lt-svg-icon>
    </a>
    <div class="nav-menu flex-container">
      <div class="nav-item" [matMenuTriggerFor]="mentorMenu">
        <span>О менторстве</span>
        <mat-menu #mentorMenu="matMenu" overlapTrigger="false">
          <a
            mat-menu-item
            href="http://clc.to/lightit_mentors_manual"
            target="_blank">
            Руководство ментора
          </a>
          <button mat-menu-item>FAQ</button>
        </mat-menu>
      </div>
    </div>
  </div>
  <div class="user-block" *ngIf="currentUser$ | async as currentUser">
    <img alt="Logo" class="avatar"
         [src]="currentUser.attributes.photoThumbnail"
         [matMenuTriggerFor]="userMenu">
    <mat-menu #userMenu="matMenu" overlapTrigger="false">
      <button mat-menu-item [routerLink]="['/profile', currentUser.id]">Профиль</button>
      <button mat-menu-item routerLink="mentorship">Таблица ответствености</button>
     <!--TODO: hide item menu in this iteration-->
      <!--<button mat-menu-item [routerLink]="['/plan/own', currentUser.id]">Мой ИПР</button>-->
    </mat-menu>
  </div>
</div>
