<div class="container">
  <h2 class="text-center page-caption">Создать итерацию</h2>

  <mat-vertical-stepper linear>
    <mat-step
      label="Создание итерации"
      editable="false"
      state="create-iteration"
      [stepControl]="iterationForm">
      <lt-create-iteration-form
        [iterationForm]="iterationForm"
        (submitForm)="createIteration()">
      </lt-create-iteration-form>
    </mat-step>
    <mat-step label="Создание ИПР" editable="false" state="create-plan">
      <div class="plan">
        <lt-iteration-plan
          class="plan--tree"
          *ngIf="currentIteration"
          (createItem)="treeDataChanged($event)"
          [userRights]="'mentor'"
          [iteration]="currentIteration">
        </lt-iteration-plan>
        <button
          mat-raised-button
          color="accent"
          [disabled]="!treeChanged"
          class="google-font-bold plan--btn" (click)="onDone()">Завершить
        </button>
      </div>
    </mat-step>
    <ng-template matStepperIcon="create-iteration">
      <mat-icon>today</mat-icon>
    </ng-template>
    <ng-template matStepperIcon="create-plan">
      <mat-icon>edit</mat-icon>
    </ng-template>
  </mat-vertical-stepper>
</div>
