@import "../../../scss/helpers";
@import "../../../scss/variables";

.form-control {
  @extend .horizontal-center;

  .control-title {
    @extend .vertical-center;
    width: 160px;
    font-family: "Google Sans", Roboto, Arial, sans-serif;
    font-weight: 600;
  }

  .required-asterisk {
    color: $warn-color;
    margin-left: 5px;
  }

  .control-input {
    width: 300px;

    mat-form-field {
      width: 100%;
    }
  }
}

.mat-step-header .mat-step-icon-selected {
  background-color: $primary-color;
}

.mat-step-header .mat-step-icon-state-done {
  background-color: $accent-color;
}

.mat-step-text-label {
  font-family: "Google Sans", Roboto, Arial, sans-serif;
  font-weight: 600;
  font-size: 1.1em;
}


