@import '../../../../scss/variables';
/* Navbar container */

::ng-deep .link-dropdown {
  min-height: 50px;
  color: rgba(0,0,0,.87);
  max-width: 172px;
  white-space: normal;
  line-height: 22px;
  padding: 14px 16px;
  box-sizing: border-box;
  height: auto;
  position: relative;
  text-decoration: none;
  cursor: pointer;
  display: block;

  &:hover {
    background: rgba(0,0,0,.04);
  }
}


/* The dropdown container */
.dropdown {
  position: relative;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  // display: none;
  //opacity: .5;
  max-height: 0;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ffffff;
  min-width: 160px;
  box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);
  transition: max-height .1s ease-out;
  overflow: hidden;
  z-index: 1;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  max-height: 600px;
  transition: max-height .3s ease-in;
  opacity: 1;
}


/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}






.dropdown-button {
  color: $clear-color;
  box-shadow: none;
  background-color: transparent;
  cursor: pointer;
  transition: background-color .2s;
  font-size: 1rem;
  outline: 0;
  border: none;
  border-radius: 2px;
  display: inline-block;
  height: 36px;
  line-height: 36px;
  padding: 0 2rem;
  text-transform: uppercase;
  vertical-align: middle;
  text-decoration: none;
  position: relative;
  //overflow: hidden;

  .select {
    position: absolute;
    width: 172px;
    right: 50%;
    transform: translateX(50%);
    top: 0;
  }

  ::ng-deep .mat-select .mat-select-arrow-wrapper {
    opacity: 0;
  }
}
