.trustbox-toggler {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 115px;
  font-size: 12px;
  justify-content: center;
  padding-top: 4.8px;
  cursor: pointer;
  color : #fff;
  margin-right: 12px;
  transition-duration: .35s;
  text-decoration: unset;

  &:hover {
    color: #fff;
  }
}

.trustbox-toggler-counter {
  border-radius: .3em;
  border: 1.8px solid #fff;
  background: #fff;
  font-size: .8em;
  display: block;
  color: #32aaf5;
  right: 2.7em;
  bottom: 3.4em;
  position: absolute;
  font-weight: 600;
  padding: 0 .35em;
}

.trustbox-label {
  padding-top: 5px;
  line-height: 18px;
}
