.project-link {
  .link {
    outline: none !important;
    text-align: unset;
    text-decoration: unset;
    cursor: pointer;
    font-family: "Google Sans", Roboto, Arial, sans-serif;
    font-weight: 400;
    color: rgba(0, 0, 0, .5);
  }
}
