<div class="simple-input">
  <mat-form-field class="full-width">
    <mat-label *ngIf="label">{{label}}</mat-label>
    <input type="text" class="input" matInput [formControl]="control" [placeholder]="placeholder" [value]="value ? value : ''" ltAutoFocus>
  </mat-form-field>
  <div class="action-wrapper">
    <button mat-icon-button class="action-save" (click)="saveTask()" [disabled]="isDisabled">
      <mat-icon class="material-icons" aria-hidden="true">done</mat-icon>
    </button>
    <button mat-icon-button class="action-save" (click)="deleteTask()">
      <mat-icon class="material-icons" aria-hidden="true">close</mat-icon>
    </button>
  </div>
</div>
