<lt-create-tree-item *ngIf="canEdit" label="Добавить задачу" (createItem)="addItemToRoot($event)" class="create-tree-item" [main] = 'true'></lt-create-tree-item>
<mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
  <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
    <button mat-icon-button disabled></button>
    <mat-checkbox class="checklist-leaf-node"
                  [ngClass]="{'drop-above': dragNodeExpandOverArea === 'above' && dragNodeExpandOverNode === node,
                              'drop-below': dragNodeExpandOverArea === 'below' && dragNodeExpandOverNode === node,
                              'drop-center': dragNodeExpandOverArea === 'center' && dragNodeExpandOverNode === node}"
                  [checked]="checklistSelection.isSelected(node)"
                  (change)="todoItemSelectionToggle(node);"
                  draggable="true"
                  (dragstart)="handleDragStart($event, node);"
                  (dragover)="handleDragOver($event, node);"
                  (drop)="handleDrop($event, node);"
                  (dragend)="handleDragEnd($event);">{{node.text}}</mat-checkbox>
    <ng-container *ngTemplateOutlet="nodeMenu; context: {node: node}"></ng-container>
  </mat-tree-node>

  <mat-tree-node *matTreeNodeDef="let node; when: showAsInput" matTreeNodePadding>
    <lt-create-tree-item *ngIf="canEdit"
                         [value] = "node.text"
                         (createItem)="addItem($event, node)"
                         (removeItem)="removeItem(node)"
                         class="create-tree-item"></lt-create-tree-item>
  </mat-tree-node>

  <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding>
    <button mat-icon-button matTreeNodeToggle
            [attr.aria-label]="'toggle ' + node.text">
      <mat-icon class="mat-icon-rtl-mirror">
        {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
      </mat-icon>
    </button>
    <mat-checkbox [ngClass]="{'drop-above': dragNodeExpandOverArea === 'above' && dragNodeExpandOverNode === node,
                              'drop-below': dragNodeExpandOverArea === 'below' && dragNodeExpandOverNode === node,
                              'drop-center': dragNodeExpandOverArea === 'center' && dragNodeExpandOverNode === node}"
                  draggable="true"
                  (dragstart)="handleDragStart($event, node);"
                  (dragover)="handleDragOver($event, node);"
                  (drop)="handleDrop($event, node);"
                  (dragend)="handleDragEnd($event);"
                  [checked]="checklistSelection.isSelected(node)"
                  [indeterminate]="descendantsPartiallySelected(node)"
                  (change)="todoItemSelectionToggle(node)">{{node.text}}</mat-checkbox>
    <ng-container *ngTemplateOutlet="nodeMenu; context: {node: node}"></ng-container>
  </mat-tree-node>
</mat-tree>


<span #emptyItem></span>

<ng-template #nodeMenu let-node = "node">
  <button mat-icon-button (click)="addNewItem(node)"><mat-icon>add</mat-icon></button>
  <button mat-icon-button [matMenuTriggerFor]="menu"><mat-icon>more_vert</mat-icon></button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="redactItem(node)">
      <mat-icon>edit</mat-icon>
      <span>Edit</span>
    </button>
    <button mat-menu-item (click)="removeItem(node)">
      <mat-icon>close</mat-icon>
      <span>Delete</span>
    </button>
  </mat-menu>
</ng-template>
