.create-tree-item{
  width: 100%;
}


.drop-above {
  border-top: 10px solid #dddddd;
  margin-top: -10px;
}

.drop-below {
  border-bottom: 10px solid #dddddd;
  margin-bottom: -10px;
}

.drop-center {
  background-color: #dddddd;
}

.buttons {
  display: none;
}

mat-tree-node:hover .buttons {
  display: flex;
  opacity: 0.7;
  align-items: center;
  margin-left: 10px;
  button {
    font-size: 12px;
    width: 27px;
  }

  mat-icon {
    font-size: 20px;
  }
}

mat-tree-node {
  font-size: 16px;
}

::ng-deep .mat-checkbox-checked .mat-checkbox-background,
::ng-deep .mat-checkbox-indeterminate .mat-checkbox-background,
::ng-deep .mat-checkbox-ripple .mat-ripple-element
{
  background-color: #141460 !important;
}

.padding{
  padding-left: 40px;
}


