/*.drop-above {
  width: 100%;
  &::before {
    content: 'drop above';
    display: flex;
    justify-content: flex-end;
    min-height: 30px;
    width: 100%;
    background-color: #141460;
    color: white;
    align-items: center;
    padding-right: 10px;
  }
}


.drop-below {
  width: 100%;
  &::after {
    content: 'drop below';
    display: flex;
    justify-content: flex-end;
    min-height: 30px;
    width: 100%;
    background-color: #141460;
    color: white;
    align-items: center;
    padding-right: 10px;
  }
}

.drop-center {
  width: 100%;
  background-color: #32aaf5;
}*/

.drop-above {
  border-top: 10px solid #dddddd;
  margin-top: -10px;
}

.drop-below {
  border-bottom: 20px solid #dddddd;
  margin-bottom: -20px;
}

.drop-center {
  background-color: #dddddd;
}

.buttons {
  display: none;
}

mat-tree-node:hover .buttons {
  width: 80px;
  display: flex;
  opacity: 0.7;
  align-items: center;
  height: 0;
  position: relative;
  top: 10px;
  left: 10px;

  button {
    font-size: 12px;
    width: 27px;
  }

  mat-icon {
    font-size: 20px;
  }
}

mat-tree-node {
  font-size: 16px;
  overflow: unset;
  display: flex;
  align-items: flex-start;
  padding-bottom: 15px;
}

.checkbox {
  max-width: calc(100% - 120px);
}

.btn-children {
  top: -9px;
  position: relative;
  height: 0;
}

::ng-deep .mat-checkbox-checked .mat-checkbox-background,
::ng-deep .mat-checkbox-indeterminate .mat-checkbox-background,
::ng-deep .mat-checkbox-ripple .mat-ripple-element {
  background-color: #141460 !important;
}

::ng-deep .checkbox .mat-checkbox-layout {
  white-space: normal;
  word-break: break-all;
  display: flex;
  align-items: flex-start;


  .mat-checkbox-inner-container {
    margin: 0 10px;
    position: relative;
    top: 3px;
  }
}

.padding {
  padding-left: 40px;
}

.tree {
  padding-top: 20px;
}

