@import '~src/scss/variables';

.tree {
  padding-top: 20px;
}

// drop

mat-tree-node {
  position: relative;
  overflow: unset;
  padding-bottom: 15px;

  .above {
    width: 100%;
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    height: 25px;
    top: -20px;
  }

  .below {
    width: 100%;
    position: absolute;
    z-index: 2;
    left: 0;
    right: 0;
    height: 25px;
    bottom: -5px;
  }
}

 .drop-above .above{
  background-color: #dddddd;
}

 .drop-below .below {
  background-color:  #dddddd;
}

 .drop-center .checkbox-container {
  background-color:  #dddddd;
}

//drop

.checkbox-container {
  font-size: 16px;
  overflow: unset;
  display: flex;
  align-items: flex-start;
  width: 100%;

  .checkbox {
    max-width: calc(100% - 120px);
  }

  .btn-children {
    top: -9px;
    position: relative;
    height: 0;
  }

  .buttons {
    display: flex;
    align-items: center;
    position: relative;
    height: 0;
    top: 10px;
    left: 10px;

    button {
      font-size: 12px;
      width: 27px;

      &:not(.activeComment) {
        display: none;
      }

      mat-icon {
        font-size: 20px;
        opacity: 0.7;
      }
    }
    .comment-button {
      margin-right: 10px;
    }

    .comment-button.activeComment {
      mat-icon {
        color: $accent-color;
        opacity: 1 !important;
      }
    }
  }

  &:hover .buttons button{
    display: unset;
  }
}

.padding {
  padding-left: 40px;
}

::ng-deep .mat-checkbox-checked .mat-checkbox-background,
::ng-deep .mat-checkbox-indeterminate .mat-checkbox-background,
::ng-deep .mat-checkbox-ripple .mat-ripple-element {
  background-color: $primary-color !important;
}

::ng-deep .checkbox .mat-checkbox-layout {
  white-space: normal;
  word-break: break-all;
  display: flex;
  align-items: flex-start;


  .mat-checkbox-inner-container {
    margin: 0 10px;
    position: relative;
    top: 3px;
  }
}




