<lt-create-tree-item *ngIf="editLevel === 2" label="Добавить задачу" (createItem)="addItemToRoot($event)"
                     class="create-tree-item" [main]='true'></lt-create-tree-item>
<mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
  <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
    <mat-checkbox class="checklist-leaf-node padding"
                  [ngClass]="{'drop-above': dragNodeExpandOverArea === 'above' && dragNodeExpandOverNode === node,
                              'drop-below': dragNodeExpandOverArea === 'below' && dragNodeExpandOverNode === node,
                              'drop-center': dragNodeExpandOverArea === 'center' && dragNodeExpandOverNode === node
                             }"
                  [checked]="checklistSelection.isSelected(node)"
                  [disabled]="editLevel === 0"
                  (change)="todoItemSelectionToggle(node);"
                  draggable="true"
                  (dragstart)="editLevel === 2 && handleDragStart($event, node);"
                  (dragover)="handleDragOver($event, node);"
                  (drop)="handleDrop($event, node);">{{node.text}}</mat-checkbox>
    <ng-container *ngTemplateOutlet="nodeMenu; context: {node: node}"></ng-container>
  </mat-tree-node>

  <mat-tree-node *matTreeNodeDef="let node; when: showAsInput" matTreeNodePadding>
    <lt-create-tree-item
      [value]="node.text"
      (createItem)="addItem($event, node)"
      (removeItem)="removeItem(node)"
      class="create-tree-item padding"></lt-create-tree-item>
  </mat-tree-node>

  <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding>
    <button mat-icon-button matTreeNodeToggle
            [attr.aria-label]="'toggle ' + node.text">
      <mat-icon class="mat-icon-rtl-mirror">
        {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
      </mat-icon>
    </button>
    <mat-checkbox [ngClass]="{'drop-above': dragNodeExpandOverArea === 'above' && dragNodeExpandOverNode === node,
                              'drop-below': dragNodeExpandOverArea === 'below' && dragNodeExpandOverNode === node,
                              'drop-center': dragNodeExpandOverArea === 'center' && dragNodeExpandOverNode === node
                              }"
                  draggable="true"
                  (dragstart)="editLevel === 2 && handleDragStart($event, node);"
                  (dragover)="handleDragOver($event, node);"
                  (drop)="handleDrop($event, node);"
                  [checked]="checklistSelection.isSelected(node)"
                  [disabled]="editLevel === 0"
                  [indeterminate]="descendantsPartiallySelected(node)"
                  (change)="todoItemSelectionToggle(node)">{{node.text}}</mat-checkbox>
    <ng-container *ngTemplateOutlet="nodeMenu; context: {node: node}" class="buttons"></ng-container>
  </mat-tree-node>
</mat-tree>


<span #emptyItem></span>

<ng-template #nodeMenu let-node="node">
  <div class="buttons" *ngIf="editLevel === 2">
    <button mat-icon-button (click)="redactItem(node)">
      <mat-icon>edit</mat-icon>
    </button>
    <button mat-icon-button (click)="removeItem(node)">
      <mat-icon>close</mat-icon>
    </button>
    <button *ngIf="isValidToAdd(node)" mat-icon-button (click)="addNewItem(node)">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</ng-template>
