<div mat-dialog-title>
  <ng-container *ngIf="data.mode === 'addMentor'">
    <h3>Добавить ментора</h3>
  </ng-container>
  <ng-container *ngIf="data.mode === 'addProtege'">
    <h3>Управление протеже</h3>
    <p>для {{ data.mentor.fullName }}</p>
  </ng-container>
  <ng-container *ngIf="data.mode === 'changeMentor'">
    <h3>Изменить ментора</h3>
    <p>Протеже: {{ data.protege.fullName }}</p>
    <p>Ментор: {{ data.mentor.fullName }}</p>
  </ng-container>
</div>
<div mat-dialog-content>
  <mat-form-field
    class="full-width"
    appearance="standard">
    <input
      matInput
      placeholder="Ментор"
      [formControl]="userInput"
      [matAutocomplete]="auto">
    <mat-autocomplete
      #auto="matAutocomplete"
      (optionSelected)="selectUser($event)"
      [displayWith]="displayFn">
      <mat-option
        *ngFor="let option of filteredOptions$ | async"
        [value]="option">
        <div class="user-wrapper">
          <lt-user [user]="option.attributes"></lt-user>
        </div>
      </mat-option>
      <!--<mat-option *ngIf="!(filteredOptions$ | async)?.length"-->
        <!--[value]="null"-->
        <!--[disabled]="true">-->
        <!--<span>Нет совпадений</span>-->
      <!--</mat-option>-->
    </mat-autocomplete>
  </mat-form-field>
</div>
<div mat-dialog-actions align="end">
  <button
    mat-raised-button
    color="accent"
    [mat-dialog-close]="selectedUser"
    [disabled]="userInput.invalid"
    class="google-font-bold">Выбрать</button>
</div>

<ng-template #addMentor>
  <h3 mat-dialog-title>
    Добавить ментора
  </h3>
</ng-template>

<ng-template #addMenthor>

</ng-template>
