<div class="container center-between">
  <div class="app-logo">
    <lt-svg-icon [name]="'logo'"></lt-svg-icon>
  </div>
  <div class="user-block">
    <img class="avatar"
         *ngIf="currentUser"
         [src]="currentUser?.attributes.photo_thumbnail"
         [matMenuTriggerFor]="menu">
    <mat-menu #menu="matMenu" overlapTrigger="false">
      <button mat-menu-item [routerLink]="['/profile', currentUser?.id]">Профиль</button>
      <button mat-menu-item routerLink="mentorship">Таблица ответствености</button>
      <button mat-menu-item [routerLink]="['/plan/own', currentUser.id]">Мой ИПР</button>
    </mat-menu>
  </div>
</div>
