<div mat-dialog-content>
  <div class="title-container">
    <form [formGroup]="group" (ngSubmit)="onSubmit($event)">
    <mat-form-field>
      <input matInput formControlName="conclusion" placeholder="Причины">
    </mat-form-field>
    <mat-form-field>
      <input matInput formControlName="test_project" placeholder="Ссылка на проект(не обязательно)">
    </mat-form-field>
    </form>
  </div>
</div>
<mat-dialog-actions align="end">
  <button
    mat-raised-button
    color="accent"
    class="google-font-bold"
    [mat-dialog-close]="group.value">
    Ок
  </button>
  <button
    mat-button
    class="google-font-bold"
    [mat-dialog-close]="null">Отмена</button>
</mat-dialog-actions>
