<h3 mat-dialog-title>Добавить ментора</h3>
<div mat-dialog-content>
  {{data.mentor}}
  <mat-form-field
    class="full-width"
    appearance="standard">
    <input matInput placeholder="Ментор" [formControl]="userInput" [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let option of options" [value]="option">
        {{option}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-raised-button color="primary" [mat-dialog-close]="data.mentor" disabled>Выбрать</button>
</div>
