<div class="relations-block" *ngIf="objectValues(user.attributes.proteges).length">
  <div class="relation-title">Протеже:</div>
  <div class="user-container">
    <lt-portrait-user
      *ngFor="let protege of objectValues(user.attributes.proteges)"
      [user]="protege.attributes"
      [routerLink]="['/profile', protege.id]">
    </lt-portrait-user>
  </div>
</div>
<div class="section vertical-center">
  <h2 class="section-title">Итерация:</h2>
  <h2 class="iteration-name">{{ currentIteration.goal }}</h2>
</div>
<lt-iteration-timeline [iteration]="currentIteration"></lt-iteration-timeline>



