<div class="section">
  <h2 class="section-title">Цель обучения:</h2>
  <p class="iteration-name">{{ currentIteration.goal }}</p>
</div>
<lt-iteration-timeline [iteration]="currentIteration"></lt-iteration-timeline>
<div class="section" *ngIf="currentIteration.testProject">
  <h2 class="section-title">Тестовое задание:</h2>
  <p class="project-link iteration-name" [innerHTML]="currentIteration.testProject | wrapLink"></p>
</div>
<lt-iteration-progress></lt-iteration-progress>
<div class="plan">
  <lt-iteration-plan [iteration]="currentIteration" [userRights]="userRights"></lt-iteration-plan>
</div>

