<div class="section vertical-center">
  <h2 class="section-title">Цель обучения:</h2>
  <h2 class="iteration-name">{{ currentIteration.goal }}</h2>
</div>
<lt-iteration-timeline [iteration]="currentIteration"></lt-iteration-timeline>
<div class="section vertical-center" *ngIf="currentIteration.testProject">
  <h2 class="section-title">Тестовое задание:</h2>
  <a class="iteration-name project-link" [href]="currentIteration.testProject" target="_blank">{{ currentIteration.testProject }}</a>
</div>
<lt-iteration-progress [progress]="progress"></lt-iteration-progress>
<div class="plan">
<lt-iteration-plan [iteration]="currentIteration"></lt-iteration-plan>
</div>

