@import "../../../scss/helpers";

:host {
  display: block;
  padding-top: 10px;
}

.user-item {
  display: flex;
  justify-content: space-between;
  padding: 15px;

  &:nth-child(odd) {
    background-color: #eee;
  }

  &:hover .actions {
    opacity: 1;
  }
}

.same-width {
  min-width: 300px;
}

.request-note {
  flex-grow: 1;
  @extend .flex-container;
  flex-direction: column;

  p {
    margin: 5px 0;
    font-size: .9em;

    &:first-child {
      font-weight: 600;
      font-family: "Google Sans", Roboto, Arial, sans-serif;
    }
  }
}

.empty-text {
  @extend .vertical-center;
  flex-grow: 1;

  p {
    margin: 5px 0;
    font-size: .9em;
  }
}

.actions {
  display: flex;
  align-items: center;
  margin-left: 15px;
  opacity: 0;
  transition: .3s opacity;
}
