<div class="mentorship-table">
  <div class="mentorship-table__header">
    <div class="mentorship-table__row">
      <div class="mentorship-table__cell">
        <h3 class="table-label">Менторы</h3>
        <button type="button" class="add-mentor" (click)="addMentor()">добавить ментора</button>
      </div>
      <div class="mentorship-table__cell">
        <h3 class="table-label">Протеже</h3>
      </div>
    </div>
  </div>
  <div class="mentorship-table__row" *ngFor="let mentorship of mentorshipList">
    <div class="mentorship-table__cell activator-actions">
      <div class="mentor">
        <lt-user
          [user]="mentorship"
          [routerLink]="['/profile', mentorship.id]">
        </lt-user>
        <div class="actions">
          <lt-action-btn
            [tooltip]="'Добавить протеже ментору'"
            [icon]="'person_add'"
            (action)="addProtege()">
          </lt-action-btn>
          <lt-action-btn
            [tooltip]="'Убрать ментора'"
            [icon]="'delete'"
            (action)="deleteMentor(mentorship)">
          </lt-action-btn>
        </div>
      </div>
    </div>
    <div class="mentorship-table__cell">
      <div class="protege activator-actions" *ngFor="let protege of mentorship.proteges">
        <lt-user
          [user]="protege"
          [routerLink]="['/profile', protege.id]">
        </lt-user>
        <div class="actions">
          <lt-action-btn
            [tooltip]="'Сменить ментора'"
            [icon]="'transfer_within_a_station'"
            (action)="changeMentor()">
          </lt-action-btn>
          <lt-action-btn
            [tooltip]="'Убрать протеже'"
            [icon]="'delete'"
            (action)="deleteProtege(mentorship, protege)">
          </lt-action-btn>
          <lt-action-btn
            [tooltip]="'Очистить статус протеже'"
            [icon]="'delete_forever'"
            (action)="clearProtegeStatus(protege)">
          </lt-action-btn>
        </div>
      </div>
    </div>
  </div>
</div>
