<div class="container">

  <div class="search-wrap">
    <div class="search-block">
      <mat-form-field
        class="full-width"
        appearance="standard">
        <input
          matInput
          [placeholder]="'Введите имя ментора'"
          [formControl]="userInput"
          [matAutocomplete]="auto">
        <mat-autocomplete
          #auto="matAutocomplete"
          (optionSelected)="selectUser($event)"
          [displayWith]="displayFn">
          <mat-option
            *ngFor="let option of filteredOptions$ | async"
            [value]="option">
            <div class="user-wrapper">
              <lt-user [user]="option"></lt-user>
            </div>
          </mat-option>
          <!--<mat-option *ngIf="!(filteredOptions$ | async)?.length"-->
          <!--[value]="null"-->
          <!--[disabled]="true">-->
          <!--<span>Нет совпадений</span>-->
          <!--</mat-option>-->
        </mat-autocomplete>
      </mat-form-field>
    </div>
  </div>

  <div class="summary-wrap">
    <ng-container *ngIf="isLoad; else summary">
      <mat-progress-bar
        color="primary"
        mode="indeterminate"
      >
      </mat-progress-bar>
    </ng-container>

  </div>

</div>

<ng-template #summary>
  <lt-summary-item *ngFor="let userMentor of mentorshipList"
                   [userMentor]="userMentor"
                   (fetchIteration)="fetchIteration($event)"
  ></lt-summary-item>
</ng-template>
