<div class="container">
  <div class="actions">
    <div class="search-wrap">
      <lt-search [placeholder]="'Введите имя'" (search)="onFilter($event)"></lt-search>
    </div>

    <div class="option-filtration">
      <mat-form-field>
        <mat-label>Поиск по</mat-label>
        <mat-select [(value)]="filterMode">
          <mat-option [value]="filterModes.mentor">Ментор</mat-option>
          <mat-option [value]="filterModes.protege">Протеже</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>


  <div class="summary-wrap">
    <ng-container *ngIf="isLoad; else summary">
      <mat-progress-bar
        color="primary"
        mode="indeterminate"
      >
      </mat-progress-bar>
    </ng-container>

  </div>

</div>

<ng-template #summary>
  <lt-summary-item *ngFor="let userMentor of mentorshipList"
                   [userMentor]="userMentor"
  ></lt-summary-item>
</ng-template>
