<div mat-dialog-content class="modal-content">
  <div class="title-container">
    <mat-form-field class="full-width">
      <input matInput [formControl]="title" [placeholder]="data">
    </mat-form-field>
  </div>
</div>
<mat-dialog-actions align="end">
  <button
    mat-raised-button
    color="accent"
    class="google-font-bold"
    [mat-dialog-close]="title.value">
    Ок
  </button>
  <button
    mat-button
    class="google-font-bold"
    [mat-dialog-close]="null">Отмена</button>
</mat-dialog-actions>


