.title-container {
  display: flex;
  align-items: center;
  width: 100%;

  mat-form-field {
    width: 100%;
  }
}

:host {
  display: block;
  padding: 20px;
}

.full-width {
  width: 100%;
}

.modal-content {
  padding: 20px;
}
