<div class="container">
  <h2 class="text-center page-caption">Профиль</h2>

  <mat-card class="top-block">
    <div class="profile-wrapper" *ngIf="user$ | async as user">

      <div class="temp-wrap">
        <div class="user-wrap">

          <div class="user-photo">
            <img [src]="user.attributes.photo">
          </div>

          <div class="user-data">
            <h3 class="user-name">{{ user.attributes.fullName }}</h3>
            <p class="user-specialization">{{ user.attributes.specialization.attributes.title }}</p>
            <div class="request-buttons" *ngIf="showRequestButtons">
              <button
                mat-raised-button
                color="accent"
                class="google-font-bold btn btn-width"
                [disabled]="user.attributes.isMentor || user.attributes.wantBeMentor">Хочу стать ментором</button>
              <button
                mat-raised-button
                color="accent"
                class="google-font-bold btn btn-width"
                [disabled]="user.attributes.needMentor">Нужен ментор</button>
            </div>
          </div>

        </div>

        <div class="user-protege">
          <div class="relations-block" *ngIf="objectValues(user.attributes.proteges).length">
            <div class="relation-title">Протеже</div>
            <div class="user-container">
              <lt-user
                *ngFor="let protege of objectValues(user.attributes.proteges)"
                [user]="protege.attributes"
                [routerLink]="['/profile', protege.id]">
              </lt-user>
            </div>
          </div>
        </div>

        <div class="user-mentor">
          <div class="relations-block" *ngIf="user.attributes.mentor">
            <span class="relation-title">Ментор:</span>
            <div class="user-container">
              <lt-user
                [user]="user.attributes.mentor.attributes"
                [routerLink]="['/profile', user.attributes.mentor.id]">
              </lt-user>
            </div>
          </div>
        </div>

      </div>


      <div class="user-info">







        <div class="horizontal-center" *ngIf="showIterationBtn && !iterationExists">
          <button
            mat-raised-button
            color="accent"
            class="google-font-bold" [routerLink]="['create-iteration']">Создать итерацию</button>
        </div>
      </div>


    </div>
  </mat-card>


  <mat-card>
    <div class="mentorship-info">
      <mat-tab-group>
        <mat-tab label="Обзор">
          <!--<lt-profile-overview [iteration]="currentIteration$ | async"-->
                               <!--[user]="user"-->
          <!--&gt;</lt-profile-overview>-->
        </mat-tab>
        <mat-tab label="Итерации"> Content 2 </mat-tab>
        <mat-tab label="Активность"> Content 3 </mat-tab>
      </mat-tab-group>
    </div>
  </mat-card>

</div>

