<div class="container" *ngIf="user">
  <mat-card class="top-block">
    <div class="profile-wrapper" >

      <div class="head-wrap">
        <div class="user-wrap">

          <div class="user-photo">
            <img [src]="user.attributes.photo">
          </div>

          <div class="user-data">
            <div class="user-description">
              <h3 class="user-name">{{ user.attributes.fullName }}</h3>
              <p class="user-specialization">{{ user.attributes.specialization.attributes.title }}</p>
            </div>

            <div class="request-buttons" *ngIf="showRequestButtons">
              <button
                mat-raised-button
                color="accent"
                class="google-font-bold btn btn-width"
                [disabled]="user.attributes.isMentor || user.attributes.wantBeMentor"
                (click)="wantBeMentor()">Хочу стать ментором</button>
              <button
                mat-raised-button
                color="accent"
                class="google-font-bold btn btn-width"
                [disabled]="user.attributes.needMentor || user.attributes.mentor"
                (click)="needMentor()">Нужен ментор</button>
            </div>
            <div class="horizontal-center request-buttons" *ngIf="showIterationBtn && !currentIterationService.isExist">
              <button
                mat-raised-button
                color="accent"
                class="google-font-bold" [routerLink]="['create-iteration']">Создать итерацию</button>
            </div>
            <div class="horizontal-center" *ngIf="showIterationBtn && currentIterationService.isExist">
              <button
                mat-raised-button
                color="accent"
                class="google-font-bold"
                (click)="deleteIteration(+user.id)">Удалить итерацию</button>
            </div>
          </div>
        </div>

        <div class="user-guest">
          <div class="user-protege">
            <div class="relations-block" *ngIf="objectValues(user.attributes.proteges).length">
              <div class="relation-title">Протеже</div>
              <div class="user-container">
                <lt-user
                  *ngFor="let protege of objectValues(user.attributes.proteges)"
                  [user]="protege.attributes"
                  [routerLink]="['/profile', protege.id]">
                </lt-user>
              </div>
            </div>
          </div>

          <div class="user-mentor">
            <div class="relations-block" *ngIf="user.attributes.mentor">
              <span class="relation-title">Ментор</span>
              <div class="user-container">
                <lt-user
                  [user]="user.attributes.mentor.attributes"
                  [routerLink]="['/profile', user.attributes.mentor.id]">
                </lt-user>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </mat-card>

  <div class="mentorship-info" *ngIf="currentIterationService.isExist">
    <mat-tab-group>
      <mat-tab label="Обзор">
        <mat-card>
          <lt-profile-overview [currentIteration]="currentIterationService.currentIteration"
          ></lt-profile-overview>
        </mat-card>
      </mat-tab>
      <!--<mat-tab label="Итерации"> Content 2 </mat-tab>-->
      <!--<mat-tab label="Активность"> Content 3 </mat-tab>-->
    </mat-tab-group>
  </div>


</div>

