.data-container {
  display: flex;
  align-items: center;
  padding: 0 10px;
  justify-content: center;
  font-size: 18px;
  color: #cbcad2;
  font-weight: bold;
}

:host {
  display: block;
  position: relative;
  padding-bottom: 15px;
}

.timeline {
  display: inline-block;
  //height: 60px;
  height: 80px;
  width: 100%;
  font-size: 9px;
  line-height: 20px;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=1, startColorstr='#FFEEEEEE', endColorstr='#FFEEEEEE');
  background: #ffffff;
  box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
  border-radius: 4px;
  //background: #eee;
  //background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgi…3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  //background: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #eeeeee), color-stop(35%, #fcfcfc), color-stop(68%, #f7f7f7),
  //  color-stop(100%, #eeeeee), color-stop(100%, #eeeeee));
  //background: -moz-linear-gradient(left, #eeeeee 0%, #fcfcfc 35%, #f7f7f7 68%, #eeeeee 100%, #eeeeee 100%);
  //background: -webkit-linear-gradient(left, #eeeeee 0%, #fcfcfc 35%, #f7f7f7 68%, #eeeeee 100%, #eeeeee 100%);
  //background: linear-gradient(to right, #eeeeee 0%, #fcfcfc 35%, #f7f7f7 68%, #eeeeee 100%, #eeeeee 100%);
  //border: 1px solid #eee;
  //-moz-box-shadow: 0 2px 2px #D2D2D2;
  //-webkit-box-shadow: 0 2px 2px #D2D2D2;
  //box-shadow: 0 2px 2px #D2D2D2;

  &-left {
    width: 7%;
    height: 100%;
    float: left;
    text-align: center;
    @extend .data-container;
  }

  &-center {
    height: 100%;
    padding-top: 30px;
    width: 86%;
    float: left;
  }

  &-right {
    width: 7%;
    height: 100%;
    float: left;
    text-align: center;
    @extend .data-container;
  }

  &-events {
    z-index: 1;
    top: 0;
    position: relative;
    background-color: silver;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  &-event {
    //position: absolute;
    //width: 2px;
    //height: 28px;
    //background: #00BA26;
    //top: -20px;
    //cursor: pointer;
    position: absolute;
    width: 2px;
    height: 24px;
    background: #00BA26;
    top: -30px;
    cursor: pointer;

    span {
      //width: 0;
      //height: 0;
      //border-style: solid;
      //border-width: 12px 5px 0 5px;
      //border-color: #00BA26 transparent transparent transparent;
      //position: absolute;
      //top: -10px;
      //left: -4px;
      height: 15px;
      width: 15px;
      border-radius: 50%;
      background:  #00BA26;
      position: absolute;
      top: -50%;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      align-items: center;
      justify-content: center;
      color: #ffffff;
      font-size: 9px;
    }
  }

  &-bg {
    position: relative;
    padding: 0;
    top: -22px;
  }

  &-month {
    position: relative;
    display: inline-block;
    top: 0;
    height: 13px;
    width: 100%;

    span {
      color: white;
      font-size: 10px;
      padding: 0 2%;
      margin: 0;
      height: 100%;
      text-align: left;
      position: relative;
      top: -4px;
    }

  }

  &-day {
    position: absolute;
    display: inline-block;
    background: #EDEDED;
    top: 0;
    width: 1px;
    height: 13px;

    span {
      color: #bab9c9;
      font-size: 10px;
      padding: 0;
      margin: 0;
      position: relative;
      left: -5px;

      i {
        border-left: 5px solid transparent;
        border-bottom: 5px solid #bab9c9;
        border-right: 5px solid transparent;
        padding: 0;
        margin: 0;
        display: inline-block;
        position: relative;
        top: 10px;
      }
    }
  }

  &-event-box {
    font-size: 1.2em;
    position: relative;
    background: #ffffff;
    border: 1px solid #C7C7C7;
    top: 30px;
    width: 200px;
    left: -20px;
    padding: 5px;

    &:before, &:after {
      bottom: 100%;
      left: 10%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
    }

    &:after {
      border-color: rgba(255, 255, 255, 0);
      border-bottom-color: #ffffff;
      border-width: 8px;
      margin-left: -8px;
    }

    &:before {
      border-color: rgba(199, 199, 199, 0);
      border-bottom-color: #C7C7C7;
      border-width: 9px;
      margin-left: -9px;
    }
  }
}

.progress {
  height: 20px;
  position: relative;
  padding: 1px;
  background: #e2e2e2;

  & > span {
    display: block;
    height: 100%;
    background-repeat: repeat-x;
    background-image: url('../../../assets/img/10.png');
    position: relative;
    z-index: 10;
  }
}

.front {
  z-index: 1;
}
