<div class="timeline">
  <div class="timeline-left">
    <label>{{startDate}}</label>
  </div>
  <div class="timeline-center">
    <div class="progress">
      <div class="wrap-days">
        <div class="day"
             *ngFor="let day of days; let last = last"
             [ngStyle]="{width: getWidth(last)}"
             [ngClass]="{
              'future': !timeLineCompleted(day),
              'weekend': day.weekend,
              'past': timeLineCompleted(day),
              'today': getToday(day)
             }">
          <div class="circle" *ngIf="day.meet">
            {{ day.day }}
          </div>
        </div>
      </div>
      <div class="wrap-weeks">
        <div class="week" *ngFor="let week of weeks" [style.width]="calculateDayWidth() * week.length + '%'">
          <div class="curly-brace"></div>
          <div class="weeks-number">
            <span>{{ week.weekNumber }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="timeline-right">
    <label>{{endDate}}</label>
  </div>
</div>

