@import "../../../scss/variables";
@import "../../../scss/helpers";

.data-container {
  display: flex;
  align-items: center;
  padding: 0 10px;
  justify-content: center;
  font-size: 18px;
  color: #202124;
  font-weight: bold;
}

:host {
  display: block;
  position: relative;
  padding-bottom: 45px;
}

.timeline {
  display: inline-block;
  height: 80px;
  width: 100%;
  line-height: 20px;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=1, startColorstr='#FFEEEEEE', endColorstr='#FFEEEEEE');
  background: #ffffff;

  &-left {
    width: 7%;
    height: 100%;
    float: left;
    text-align: center;
    @extend .data-container;
  }

  &-center {
    height: 100%;
    padding-top: 30px;
    width: 86%;
    float: left;
  }

  &-right {
    width: 7%;
    height: 100%;
    float: left;
    text-align: center;
    @extend .data-container;
  }
}

.progress {
  height: 20px;

  & > span {
    display: block;
    height: 100%;
    background-repeat: repeat-x;
    background-image: url('../../../assets/img/10.png');
    position: relative;
    z-index: 10;
  }
}

.wrap-days {
  display: flex;
  width: 100%;
  height: 100%;

  .day {
    height: 100%;
    background: $primary-color;
    border-radius: 3px;
    width: 10px;
    color: white;
    flex-shrink: 0;
    position: relative;

    &:not(:last-child) {
      margin-right: 1px;
    }

    .circle {
      height: 18px;
      width: 40px;
      border-radius: 4px;
      background:  $accent-color;
      position: absolute;
      top: -120%;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      align-items: center;
      justify-content: center;
      color: #ffffff;
      font-size: 12px;

      &::after {
        content: '';
        position: absolute;
        width: 2px;
        height: 16px;
        background: $accent-color;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }

  .future {
    background: #dadada;
  }

  .weekend {
    background: #b7b7b7;
  }

  .past {
    background: $primary-color;
  }

  .today {
    background: #4285f4;
  }
}

.wrap-weeks {
  display: flex;
  width: 100%;
  height: 10px;
  margin-top: 3px;
}

.week {

  span {
    font-size: 12px;
  }
}

.curly-brace {
  width: 95%;
  margin: 0 auto;
  height: 10px;
  border: 1px solid #757474;
  border-top: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.weeks-number {
  width: 100%;
  @extend .horizontal-center;
  color: #757474;
}
