<div class="timeline">
  <div class="timeline-left">
    <label>{{startDate}}</label>
  </div>
  <div class="timeline-center">
    <div class="progress">
      <span [ngStyle]="{width: progress_percent + '%'}"></span>
      <ul class="timeline-events">
        <li class="timeline-event"
            *ngFor="let meet of iteration.meets; let i=index"
            [ngStyle]="{left:(getPosition(meet.attributes.meet_date))+'%'}">
          <span></span>
        </li>
      </ul>
      <ul class="timeline-bg">
        <li class="timeline-month">
          <ul>
            <li class="timeline-day" *ngFor="let day of weeks; let y=index"
                [ngStyle]="{left:(y * (100/weeks.length))+'%'}">
              <span>
                <i></i>
                {{day}}
              </span>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <div class="timeline-right">
    <label>{{endDate}}</label>
  </div>
</div>

