.simple-input {
  position: relative;
}

.action {

  &-wrapper {
    width: 80px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    right: 2px;
    top: 12%;
  }

  &-save, &-delete {
    border: none;
    background: transparent;
  }
}

.full-width {
  display: block;
}

::ng-deep input.mat-input-element {
  width: calc(100% - 80px);
}

.hidden {
  opacity: 0;
  transition: .2s ease-out;
}
